.table_add {
    background-image: url(./imgs/table/table_add.png) !important;
}
.table_remove {
    background-image: url(./imgs/table/table_delete.png) !important;
}
.table_edit {
    background-image: url(./imgs/table/table_edit.png) !important;
}
.table_save {
    background-image: url(./imgs/table/table_save.png) !important;
}
.tree_model_add{
	background-image: url(./imgs/tree/tree_model_add.png) !important;
}
.tree_folder_add{
	background-image: url(./imgs/tree/tree_folder_add.png) !important;
}
.tree_func_add{
	background-image: url(./imgs/tree/tree_func_add.png) !important;
}
.tree_root{
	background-image: url(./imgs/tree/tree_root.png) !important;
}
.tree_delete{
	background-image: url(./imgs/tree/tree_delete.png) !important;
}
.tree_ok{
	background-image: url(./imgs/tree/tree_ok.png) !important;
}
.tree_user_add{
	background-image: url(./imgs/tree/tree_user_add.png) !important;
}
.tree_user{
	background-image: url(./imgs/tree/tree_user.png) !important;
}
.tree_role_add{
	background-image: url(./imgs/tree/tree_role_add.png) !important;
}
.tree_role_delete{
	background-image: url(./imgs/tree/tree_role_delete.png) !important;
}
.tree_role_see{
	background-image: url(./imgs/tree/tree_role_see.png) !important;
}
.tree_perm_set{
	background-image: url(./imgs/tree/tree_perm_set.png) !important;
}
.return{
	background-image: url(./imgs/form/return.png) !important;
}
.wfstart{
	background-image: url(./imgs/wf/wfstart.png) !important;
}
.wftake{
	background-image: url(./imgs/wf/take.png) !important;
}
.wfend{
	background-image: url(./imgs/wf/end.png) !important;
}
.wfnext{
	background-image: url(./imgs/wf/next.png) !important;
}
.wfback{
	background-image: url(./imgs/wf/back.png) !important;
}
.wfreturn{
	background-image: url(./imgs/wf/wfreturn.png) !important;
}